@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}
/* Padding not taken into account in width of element */
.container {
  position: relative;
  display: inline-block;
  width: 1024px;
  font-family: 'Press Start 2P', cursive;
  
}

.statBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1024px;
  padding: 20px;
}


.statBar__timer {
  background-color: black;
  height: 50px;
  width: 100px;
  flex-shrink: 0;
  border-radius: 20%;
}


.statBar__absolute:first-child {
  display: flex;
  justify-content: flex-end;
  border-top: 2px solid rgb(251, 238, 238);
  border-left: 2px solid rgb(251, 238, 238);
  border-bottom: 2px solid rgb(251, 238, 238);
}

.statBar__absolute {
  background-color: red;
  position: relative;
  width: 100%;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid rgb(251, 238, 238);
 
  border-bottom: 2px solid rgb(251, 238, 238);
  
}

.statBar__absolute:last-child {
  border-right: 2px solid rgb(251, 238, 238);
}

.statBar__Health {
  background-color: #818CF8;
  width: 100%;
  height: 30px;
}

.statBar__timer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 4px solid rgb(251, 238, 238);
  font-family: 'Press Start 2P'
}


.end_time {
  position: absolute;
  color: white;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}

